/* All colors */
:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --green-300: #00b37e;
    --green-500: #00875f;
    --red-500: #f75a68;
}

/* Reset all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Set default bg and color for all body */
body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

/* Set default font */
body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* Default focus */
:focus {
    outline: transparent;
    box-shadow:  0 0 0 2px var(--green-500);
}

.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display:  grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.aside {
    background-color: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.aside .cover {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.aside .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(0px - 2.5rem - 6px);
    padding: 1rem;
}

.aside .profile .avatar {
    background-color: var(--gray-100);
    width: 3rem;
    height: 3rem;
    box-sizing: initial;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}

.aside .profile .profile-name {
    color: var(--gray-100);
    line-height: 1.6;
}

.avatar + .profile-name {
    margin-top: 1rem;
}

.aside .profile .profile-occupation {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
} 

.form {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--gray-600);
    border-radius: 8px;
}

.form > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.form > textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
    resize: none;
}

.form > footer button[type=button] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.form > footer button[type=button]:hover {
    background-color: var(--green-300);
}

/* Hidden footer with button */
.form > footer {
    visibility: hidden;
    max-height: 0;
}

/* Show footer with button when focus within form elements */
.form:focus-within > footer {
    visibility: visible;
    max-height: none;
}

